USE [master]
GO
/****** Object:  Database [BusinessDB]    Script Date: 16/05/2026 06:07:09 م ******/
CREATE DATABASE [BusinessDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'BusinessDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\BusinessDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'BusinessDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\BusinessDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [BusinessDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [BusinessDB]
GO
/****** Object:  Table [dbo].[Vouchers]    Script Date: 16/05/2026 06:07:09 م ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Vouchers](
	[VoucherId] [int] IDENTITY(1,1) NOT NULL,
	[Type] [tinyint] NOT NULL,
	[CreatedDate] [datetime] NOT NULL,
	[Amount] [decimal](18, 2) NOT NULL,
	[AccountId] [int] NOT NULL,
	[Notes] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[VoucherId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Invoices]    Script Date: 16/05/2026 06:07:09 م ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Invoices](
	[InvoiceId] [int] IDENTITY(1,1) NOT NULL,
	[Type] [tinyint] NOT NULL,
	[CreatedDate] [datetime] NOT NULL,
	[PaymentMethod] [tinyint] NOT NULL,
	[AccountId] [int] NOT NULL,
	[Notes] [nvarchar](255) NULL,
	[TotalAmount] [money] NOT NULL,
	[CreatedBy] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[InvoiceId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[View_AccountStatement]    Script Date: 16/05/2026 06:07:09 م ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[View_AccountStatement] AS
SELECT 
    TransactionDate,
    ReferenceNo,
    Description,
    Debit,
    Credit,
    AccountID
FROM (
    -- 1. سند الصرف (مدين): يزيد ما على الشخص من عجز أو عُهدة
    SELECT CreatedDate AS TransactionDate, VoucherID AS ReferenceNo, Notes AS Description, 
           0 AS Debit, Amount AS Credit, AccountID 
    FROM Vouchers WHERE Type = 1 
    
    UNION ALL
    
    -- 2. سند القبض (دائن): ينقص مديونية الشخص لأنه سدد مبلغاً
    SELECT CreatedDate AS TransactionDate, VoucherID AS ReferenceNo, Notes AS Description, 
            Amount AS Debit, 0 AS Credit, AccountID 
    FROM Vouchers WHERE Type = 2 
    
    UNION ALL
    
    -- 3. فاتورة البيع الآجل (مدين): تزيد مديونية العميل لأنه أخذ بضاعة
    SELECT CreatedDate, InvoiceID, N'فاتورة بيع آجل', 
           TotalAmount, 0, AccountID
    FROM Invoices WHERE Type = 1 AND PaymentMethod = 2
    
    UNION ALL
    
    -- 4. فاتورة الشراء الآجل (دائن): تزيد ما للمورد علينا (دين علينا)
    SELECT CreatedDate, InvoiceID, N'فاتورة شراء آجل', 
           0, TotalAmount, AccountID
    FROM Invoices WHERE Type = 2 AND PaymentMethod = 2
) AS Transactions;
GO
/****** Object:  Table [dbo].[Items]    Script Date: 16/05/2026 06:07:09 م ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Items](
	[ItemId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[UnitTypeId] [int] NULL,
	[DefaultUnitPrice] [money] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ItemId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[InvoiceDetails]    Script Date: 16/05/2026 06:07:09 م ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[InvoiceDetails](
	[InvoiceDetailId] [int] IDENTITY(1,1) NOT NULL,
	[InvoiceId] [int] NOT NULL,
	[ItemId] [int] NOT NULL,
	[Quantity] [int] NOT NULL,
	[UnitPrice] [money] NOT NULL,
	[UnitType] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[InvoiceDetailId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[View_ItemsInventory]    Script Date: 16/05/2026 06:07:09 م ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[View_ItemsInventory] AS
SELECT 
    I.Name AS ItemName,
    -- إجمالي المشتريات (InvoiceType = 2)
    ISNULL(SUM(CASE WHEN Inv.Type = 2 THEN ID.Quantity ELSE 0 END), 0) AS TotalPurchased,
    -- إجمالي المبيعات (InvoiceType = 1)
    ISNULL(SUM(CASE WHEN Inv.Type = 1 THEN ID.Quantity ELSE 0 END), 0) AS TotalSold,
    -- المخزون المتبقي
    ISNULL(SUM(CASE WHEN Inv.Type = 2 THEN ID.Quantity ELSE 0 END), 0) - 
    ISNULL(SUM(CASE WHEN Inv.Type = 1 THEN ID.Quantity ELSE 0 END), 0) AS CurrentInventory
FROM Items I
LEFT JOIN InvoiceDetails ID ON I.ItemID = ID.ItemID
LEFT JOIN Invoices Inv ON ID.InvoiceID = Inv.InvoiceID
GROUP BY I.ItemID, I.Name;
GO
/****** Object:  Table [dbo].[Accounts]    Script Date: 16/05/2026 06:07:09 م ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Accounts](
	[AccountId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[PersonId] [int] NULL,
	[Type] [tinyint] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[AccountId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[People]    Script Date: 16/05/2026 06:07:09 م ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[People](
	[PersonId] [int] IDENTITY(1,1) NOT NULL,
	[FirstName] [nvarchar](25) NOT NULL,
	[SecondName] [nvarchar](25) NULL,
	[ThirdName] [nvarchar](25) NULL,
	[LastName] [nvarchar](25) NOT NULL,
	[Phone] [nvarchar](15) NULL,
	[Gender] [tinyint] NOT NULL,
	[Email] [nvarchar](50) NULL,
 CONSTRAINT [PK__People__AA2FFBE5BD4C314E] PRIMARY KEY CLUSTERED 
(
	[PersonId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SMS_Log]    Script Date: 16/05/2026 06:07:09 م ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SMS_Log](
	[SmsLogId] [int] IDENTITY(1,1) NOT NULL,
	[AccountId] [int] NOT NULL,
	[Phone] [nvarchar](15) NOT NULL,
	[Content] [nvarchar](255) NOT NULL,
	[CreatedDate] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[SmsLogId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UnitTypes]    Script Date: 16/05/2026 06:07:09 م ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UnitTypes](
	[UnitTypeId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK__UnitType__1B7AB934A882A97E] PRIMARY KEY CLUSTERED 
(
	[UnitTypeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 16/05/2026 06:07:09 م ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[UserId] [int] IDENTITY(1,1) NOT NULL,
	[PersonId] [int] NOT NULL,
	[Username] [nvarchar](25) NOT NULL,
	[Password] [nvarchar](50) NOT NULL,
	[IsActive] [bit] NOT NULL,
 CONSTRAINT [PK__Users__1788CC4C6B1180DE] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Accounts] ON 

INSERT [dbo].[Accounts] ([AccountId], [Name], [PersonId], [Type]) VALUES (2, N'فواتير الكهرباء', NULL, 3)
INSERT [dbo].[Accounts] ([AccountId], [Name], [PersonId], [Type]) VALUES (3, N'مركز الهدى', 3, 0)
SET IDENTITY_INSERT [dbo].[Accounts] OFF
GO
SET IDENTITY_INSERT [dbo].[InvoiceDetails] ON 

INSERT [dbo].[InvoiceDetails] ([InvoiceDetailId], [InvoiceId], [ItemId], [Quantity], [UnitPrice], [UnitType]) VALUES (1, 1, 3, 20, 15.0000, N'كيس')
INSERT [dbo].[InvoiceDetails] ([InvoiceDetailId], [InvoiceId], [ItemId], [Quantity], [UnitPrice], [UnitType]) VALUES (2, 2, 3, 3, 15.0000, N'كيس')
INSERT [dbo].[InvoiceDetails] ([InvoiceDetailId], [InvoiceId], [ItemId], [Quantity], [UnitPrice], [UnitType]) VALUES (3, 3, 1, 60, 12.5000, N'كيس')
SET IDENTITY_INSERT [dbo].[InvoiceDetails] OFF
GO
SET IDENTITY_INSERT [dbo].[Invoices] ON 

INSERT [dbo].[Invoices] ([InvoiceId], [Type], [CreatedDate], [PaymentMethod], [AccountId], [Notes], [TotalAmount], [CreatedBy]) VALUES (1, 1, CAST(N'2026-05-15T00:58:32.423' AS DateTime), 1, 3, N'الحساب سعودي', 300.0000, 5)
INSERT [dbo].[Invoices] ([InvoiceId], [Type], [CreatedDate], [PaymentMethod], [AccountId], [Notes], [TotalAmount], [CreatedBy]) VALUES (2, 2, CAST(N'2026-05-15T13:25:07.380' AS DateTime), 2, 3, N'', 45.0000, 5)
INSERT [dbo].[Invoices] ([InvoiceId], [Type], [CreatedDate], [PaymentMethod], [AccountId], [Notes], [TotalAmount], [CreatedBy]) VALUES (3, 1, CAST(N'2026-05-15T14:21:19.573' AS DateTime), 1, 3, N'', 2111.2500, 5)
SET IDENTITY_INSERT [dbo].[Invoices] OFF
GO
SET IDENTITY_INSERT [dbo].[Items] ON 

INSERT [dbo].[Items] ([ItemId], [Name], [UnitTypeId], [DefaultUnitPrice]) VALUES (1, N'أرز بسمتي', 4, 12.5000)
INSERT [dbo].[Items] ([ItemId], [Name], [UnitTypeId], [DefaultUnitPrice]) VALUES (2, N'زيت طبخ 5 لتر', 6, 8.7500)
INSERT [dbo].[Items] ([ItemId], [Name], [UnitTypeId], [DefaultUnitPrice]) VALUES (3, N'دقيق أبيض 10 كيلو', 4, 15.0000)
SET IDENTITY_INSERT [dbo].[Items] OFF
GO
SET IDENTITY_INSERT [dbo].[People] ON 

INSERT [dbo].[People] ([PersonId], [FirstName], [SecondName], [ThirdName], [LastName], [Phone], [Gender], [Email]) VALUES (3, N'Amjad', NULL, NULL, N'Al-Hakimi', N'777123456', 0, N'amjad@example.com')
INSERT [dbo].[People] ([PersonId], [FirstName], [SecondName], [ThirdName], [LastName], [Phone], [Gender], [Email]) VALUES (4, N'ali', N'', NULL, N'ali', N'19191919', 0, NULL)
INSERT [dbo].[People] ([PersonId], [FirstName], [SecondName], [ThirdName], [LastName], [Phone], [Gender], [Email]) VALUES (5, N'muhhamed', N'', NULL, N'ali', N'9292929', 0, NULL)
SET IDENTITY_INSERT [dbo].[People] OFF
GO
SET IDENTITY_INSERT [dbo].[UnitTypes] ON 

INSERT [dbo].[UnitTypes] ([UnitTypeId], [Name]) VALUES (7, N'جالون')
INSERT [dbo].[UnitTypes] ([UnitTypeId], [Name]) VALUES (2, N'جرام')
INSERT [dbo].[UnitTypes] ([UnitTypeId], [Name]) VALUES (3, N'حبة')
SET IDENTITY_INSERT [dbo].[UnitTypes] OFF
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([UserId], [PersonId], [Username], [Password], [IsActive]) VALUES (5, 3, N'admin', N'123456', 1)
INSERT [dbo].[Users] ([UserId], [PersonId], [Username], [Password], [IsActive]) VALUES (8, 6, N'koko', N'123', 1)
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
SET IDENTITY_INSERT [dbo].[Vouchers] ON 

INSERT [dbo].[Vouchers] ([VoucherId], [Type], [CreatedDate], [Amount], [AccountId], [Notes]) VALUES (1, 2, CAST(N'2026-05-13T22:43:37.007' AS DateTime), CAST(200.00 AS Decimal(18, 2)), 2, N'')
INSERT [dbo].[Vouchers] ([VoucherId], [Type], [CreatedDate], [Amount], [AccountId], [Notes]) VALUES (2, 1, CAST(N'2026-05-15T22:56:03.000' AS DateTime), CAST(7500.00 AS Decimal(18, 2)), 3, NULL)
INSERT [dbo].[Vouchers] ([VoucherId], [Type], [CreatedDate], [Amount], [AccountId], [Notes]) VALUES (4, 1, CAST(N'2026-05-15T23:14:42.600' AS DateTime), CAST(2000.00 AS Decimal(18, 2)), 3, NULL)
SET IDENTITY_INSERT [dbo].[Vouchers] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__UnitType__737584F652BFEBA4]    Script Date: 16/05/2026 06:07:10 م ******/
ALTER TABLE [dbo].[UnitTypes] ADD  CONSTRAINT [UQ__UnitType__737584F652BFEBA4] UNIQUE NONCLUSTERED 
(
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Users__536C85E47AD059EF]    Script Date: 16/05/2026 06:07:10 م ******/
ALTER TABLE [dbo].[Users] ADD  CONSTRAINT [UQ__Users__536C85E47AD059EF] UNIQUE NONCLUSTERED 
(
	[Username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Invoices] ADD  DEFAULT (getdate()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[Invoices] ADD  CONSTRAINT [DF_Invoices_TotalAmount]  DEFAULT ((0)) FOR [TotalAmount]
GO
ALTER TABLE [dbo].[Items] ADD  CONSTRAINT [DF_Items_DefaultUnitPrice]  DEFAULT ((0)) FOR [DefaultUnitPrice]
GO
ALTER TABLE [dbo].[People] ADD  CONSTRAINT [DF_People_Gender]  DEFAULT ((0)) FOR [Gender]
GO
ALTER TABLE [dbo].[SMS_Log] ADD  DEFAULT (getdate()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[Users] ADD  CONSTRAINT [DF__Users__IsActive__3B75D760]  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Vouchers] ADD  DEFAULT (getdate()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[Accounts]  WITH CHECK ADD  CONSTRAINT [FK__Accounts__Person__3E52440B] FOREIGN KEY([PersonId])
REFERENCES [dbo].[People] ([PersonId])
GO
ALTER TABLE [dbo].[Accounts] CHECK CONSTRAINT [FK__Accounts__Person__3E52440B]
GO
ALTER TABLE [dbo].[InvoiceDetails]  WITH CHECK ADD FOREIGN KEY([InvoiceId])
REFERENCES [dbo].[Invoices] ([InvoiceId])
GO
ALTER TABLE [dbo].[InvoiceDetails]  WITH CHECK ADD FOREIGN KEY([ItemId])
REFERENCES [dbo].[Items] ([ItemId])
GO
ALTER TABLE [dbo].[Invoices]  WITH CHECK ADD FOREIGN KEY([AccountId])
REFERENCES [dbo].[Accounts] ([AccountId])
GO
ALTER TABLE [dbo].[Invoices]  WITH CHECK ADD  CONSTRAINT [FK__Invoices__Create__5070F446] FOREIGN KEY([CreatedBy])
REFERENCES [dbo].[Users] ([UserId])
GO
ALTER TABLE [dbo].[Invoices] CHECK CONSTRAINT [FK__Invoices__Create__5070F446]
GO
ALTER TABLE [dbo].[Items]  WITH CHECK ADD  CONSTRAINT [FK__Items__UnitTypeI__47DBAE45] FOREIGN KEY([UnitTypeId])
REFERENCES [dbo].[UnitTypes] ([UnitTypeId])
GO
ALTER TABLE [dbo].[Items] CHECK CONSTRAINT [FK__Items__UnitTypeI__47DBAE45]
GO
ALTER TABLE [dbo].[SMS_Log]  WITH CHECK ADD FOREIGN KEY([AccountId])
REFERENCES [dbo].[Accounts] ([AccountId])
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD  CONSTRAINT [FK__Users__PersonId__3A81B327] FOREIGN KEY([PersonId])
REFERENCES [dbo].[People] ([PersonId])
GO
ALTER TABLE [dbo].[Users] CHECK CONSTRAINT [FK__Users__PersonId__3A81B327]
GO
ALTER TABLE [dbo].[Vouchers]  WITH CHECK ADD FOREIGN KEY([AccountId])
REFERENCES [dbo].[Accounts] ([AccountId])
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'0 = Customer, Supplier, Employee, Other' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Accounts', @level2type=N'COLUMN',@level2name=N'Type'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'1 = sales, 2 = purchases' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Invoices', @level2type=N'COLUMN',@level2name=N'Type'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'1= Cash , 2= Credit' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Invoices', @level2type=N'COLUMN',@level2name=N'PaymentMethod'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'0 = male , 1 = female' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'People', @level2type=N'COLUMN',@level2name=N'Gender'
GO
USE [master]
GO
